<?xml version="1.0" encoding="utf-8" ?>
<config>
  <inputDirectory regex="^([1-9]|1[0-2])$">DATA\2016\12</inputDirectory>
  <outputDirectory>DATA\2016\12</outputDirectory>
  <log>true</log>
  <show_stacktrace>false</show_stacktrace>
  <only_rules>false</only_rules> <!-- не создавать DBF, только проверить заголовки -->
  <save_memory>true</save_memory> <!-- использовать только один экземпляр COM Excel -->
  <status>Тут будет какая-то информация</status>
  <warning>{0}</warning>
  
  <extensions>
    <ext>*.xls</ext>
    <ext>*.xlsx</ext>
    <ext>*.xml</ext>
  </extensions>

  <outfile>
    <simple>false</simple> <!-- если стоит true, то последующие инструкции будут проигнорированы, конвертируя по принципу "Some_document.xlsx" => "Some_document.dbf" -->
    <X>1</X>
    <Y>2</Y>
    <after>
      <item>района </item>
      <item>районов </item>
    </after> <!-- например "XXX XXX района Москвы" => "Москвы.dbf" -->
    <translit>true</translit> <!-- имя файла в транслит по ГОСТ 7.79—2000 -->
    <spaces></spaces> <!-- заменить пробелы в имени файла на указанный символ -->
    <include_dir_name>true</include_dir_name> <!-- добавлять ли название директории к имени файла , например "11/Example.xlsx" => "11/11-Example.dbf" -->
    <dir_delimiter>-</dir_delimiter> <!-- префикс к предыдущему пункту -->
  </outfile>
  
  <Forms>
    <Form>
      <Name>Форма 1-18 с ФИО</Name>
      <Rules>
        <Equal Y="1" X="10">Форма 1-18</Equal>
        
        <Equal Y="11" X="1">№ кв.</Equal>        
        <Equal Y="11" X="2">ФИО</Equal>
        <Equal Y="11" X="3">Код плательщика</Equal>
        <Equal Y="11" X="10">Оплачено</Equal>
		
		    <!--<Equal Y="33" X="3">Несуществующее поле</Equal>-->
      </Rules>
      <Fields>
        <StartY>13</StartY>
        <!-- language - необязательный тэг, по умолчанию будет задан ru-ru -->
        <!-- форматы даты: https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx -->
        <!-- ВНИМАНИЕ: Static внутри THEN/ELSE будет ПРОИГНОРИРОВАН! -->
        <Static Y="3" X="3" name="DATEOPL" type="date" format="MMMM yyyy" lastday="true" language="ru-ru" />
		    <Static Y="1" X="10" name="FORM" />
		    <Dynamic X="12" name="RAND" />
        
		    <!-- IF подобно Dynamic будет вызван для каждой записи -->
        <IF X="1"></IF>
        <THEN>
          <SKIP_RECORD />
        </THEN>
		
        <IF X="1">ИТОГО:</IF>
        <THEN>
          <SKIP_RECORD />
        </THEN>		

        <IF X="1">ВСЕГО:</IF>
        <THEN>
          <STOP_LOOP />
        </THEN>

        <IF X="3"></IF>
        <THEN>
          <Dynamic X="1" name="SMADR" />
          <SKIP_RECORD />
        </THEN>
        <ELSE>
          <Dynamic X="1" name="NUMKV" />
          <Dynamic X="2" name="FIO" />
          <Dynamic X="3" name="KP" />
          <Dynamic X="10" name="SUMMA" type="numeric"/>
        </ELSE>
        
      </Fields>
      <DBF>
        <field name="KP" type="string" length="14">$KP</field>
        <field name="FIO" type="string" length="40">$FIO</field>
        <field name="ADRES" type="string" length="40">$SMADR, кв.$NUMKV</field>
        <field name="SUMMA" type="numeric" length="10,2">$SUMMA</field>
        <field name="DATAOPL" type="date" format="yyyy-MM-dd" length="8">$DATEOPL</field>
      </DBF>
    </Form>
  </Forms>
</config>   