<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.6" targetFramework="net472" />
  <package id="DynamicData" version="7.9.5" targetFramework="net472" />
  <package id="Esprima" version="3.0.0-beta-9" targetFramework="net472" />
  <package id="Fody" version="6.6.3" targetFramework="net472" developmentDependency="true" />
  <package id="Jint" version="3.0.0-beta-2042" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1418.22" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NickBuhro.Translit" version="1.0.0" targetFramework="net472" />
  <package id="NLog" version="5.0.5" targetFramework="net472" />
  <package id="ReactiveUI" version="18.3.1" targetFramework="net472" />
  <package id="ReactiveUI.Fody" version="18.3.1" targetFramework="net472" />
  <package id="ReactiveUI.WPF" version="18.3.1" targetFramework="net472" />
  <package id="Splat" version="14.4.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net472" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net472" />
  <package id="Unity.NLog" version="5.11.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>