<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToDbf.Properties.LastLaunch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="lib;"/>
      </assemblyBinding>
    </runtime>
    <userSettings>
        <ExcelToDbf.Properties.LastLaunch>
            <setting name="inputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="outputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLog" serializeAs="String">
                <value />
            </setting>
            <setting name="positionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="positionY" serializeAs="String">
                <value>0</value>
            </setting>
        </ExcelToDbf.Properties.LastLaunch>
    </userSettings>
</configuration>
