<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- Данный конфиг лучше всего открывать как HTML из-за наличия JavaScript скриптов внутри -->
  <!-- записывать в LOG файл -->
  <log>true</log>
  <LogLevel>DEBUG</LogLevel>
  <!-- не создавать DBF, только проверить заголовки -->
  <only_rules>false</only_rules>
  <!-- Сколько записей будет обработано за один OLE запрос к Excel -->
  <buffer_size>2000</buffer_size>
  <title>Название фирмы</title>
  <status>Дополнительная информация</status>
  <warning>Строка, отображаемая если хоть в одном документе прошла ошибка.\nЛегко переносится на несколько строк.\nДля удобства.</warning>
  <!-- Если true, значит при пропуске хоть одного документа из-за отсутствия форм будет показана ошибка из элемента выше -->
  <no_form_is_error>false</no_form_is_error>
  <!-- Показывать ли MessageBox со статусом выполнения задачи -->
  <show_messagebox_after>false</show_messagebox_after>
  <!-- Пропускать ли существующие DBF файлы -->
  <skip_existing_files>false</skip_existing_files>
  <!-- если true, то временные файлы будут создавать в директории назначения, а не в %TEMP% -->
  <use_output_directory_as_temp>false</use_output_directory_as_temp>
  <extensions>
    <ext>*.xls</ext>
    <ext>*.xlsx</ext>
    <ext>*.xml</ext>
  </extensions>
  <outfile>
    <simple>false</simple>
    <!-- если стоит true, то последующие инструкции будут проигнорированы, конвертируя по принципу "Some_document.xlsx" => "Some_document.dbf" -->
    <script>
      /// ---- Доступные функции: -----
      /// string translit(string input) - возвращает строку input в транслите
      /// string nospace(string input,string replaced) - заменяет в строке input все пробелы на replaced и возвращает строку
      /// string|null xls(int x, int y) - читает значение из ячейки Excel, возвращает null если произошла ошибка
      /// string|null afterRegEx(string input, Regex regex, int id=1) - разделяет строку input по регулярному выражению regex и возвращает id элемент полученного массива (1 если не указано) или null
      /// string|null dir(int id) - возвращает сегмент пути по заданному пути
      /// void log(string message) - вывести сообщение через Console.WriteLine (по умолчанию)
      /// void error(string message) - кидает исключение класса Jint.Runtime.JavaScriptException с сообщением message
      ///
      /// ---- Доступные переменные: ----
      /// string file - оригинальное имя Excel файла
      /// string dirCount - количество сегментов в пути
      ///
      /// На выход должна подаваться единственная строка с новым именем файла
      (function(){
      file = nospace(file);
      file = translit(file);
      file = file + ".dbf";
      return file;
      })();
    </script>
  </outfile>

  <Forms>
    <Form>
      <Name>Форма 2.21А</Name>
      <Rules>
        <Equal Y="2" X="2">Форма 2.21А</Equal>
        <Equal Y="7" X="2">№</Equal>
        <Equal Y="7" X="3">ФИО</Equal>
        <Equal Y="7" X="4">Счёт</Equal>
        <Equal Y="7" X="5">Сумма</Equal>
        <Equal Y="7" X="6">Дата оплаты</Equal>
      </Rules>
      <Fields>
        <StartY>8</StartY>
        <!-- Максимальное значение X, которое будет вытянуто в массив -->
        <EndX>7</EndX>
        <!-- IF подобно Dynamic будет вызван для каждой записи -->
        <IF X="2" VALUE="Пропуск">
          <THEN>
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="Итого:">
          <THEN>
            <!-- Сумма из отчёта -->
            <Dynamic X="5" name="XLS_SUMMA" type="numeric" />
            <STOP_LOOP />
          </THEN>
        </IF>
        <!-- Тип по умолчанию - string -->
        <Dynamic X="2" name="ID" />
        <Dynamic X="3" name="FIO" />
        <Dynamic X="4" name="KP" />
        <Dynamic X="5" name="SUMMA" type="numeric" />
        <!-- Суммирование для каждой записи -->
        <Dynamic X="5" name="TOTAL_SUMMA" type="numeric" function="SUM" />
        <!-- language - необязательный тэг, по умолчанию будет задан ru-ru -->
        <!-- форматы даты: https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx -->
        <Dynamic X="6" name="DATEOPL" type="date" format="dd.MM.yyyy" language="ru-ru" lastday="false"/>
      </Fields>
      <DBF>
        <field name="ID" type="string" length="8">$ID</field>
        <field name="KP" type="string" length="8">$KP</field>
        <field name="FIO" type="string" length="60">$FIO</field>
        <field name="SUMMA" type="numeric" length="6,2">$SUMMA</field>
        <field name="DATAOPL" type="date" format="yyyy-MM-dd" length="8">$DATEOPL</field>
      </DBF>
      <Validate>
        <!-- Сравнение суммы из отчёта и таблицы, помогает избежать расхождения при промежуточных полях -->
        <Equal var1="TOTAL_SUMMA" var2="XLS_SUMMA">
          <!-- На 10.000 записей допускается математическая погрешность в 0,5 -->
          <Math type="numeric" count="10000" precision="0,5">Допустимая погрешность = {0}, значения отличаются на {1}</Math>
          <Message>Итоговая сумма в DBF отличается от суммы в Excel!\nВ документе {0} ≠ {1} в экселе</Message>
        </Equal>
      </Validate>
    </Form>
    <Form>
      <Name>Форма 4Г c JS</Name>
      <Rules>
        <Equal Y="2" X="2">Форма 4Г</Equal>
        <Equal Y="7" X="2">№</Equal>
        <Equal Y="7" X="3">ФИО</Equal>
        <Equal Y="7" X="4">Счёт</Equal>
        <Equal Y="7" X="5">Сумма</Equal>
        <Equal Y="7" X="6">Дата оплаты</Equal>
      </Rules>
      <Fields>
        <StartY>8</StartY>
        <!-- Максимальное значение X, которое будет вытянуто в массив -->
        <EndX>7</EndX>
        <!-- IF подобно Dynamic будет вызван для каждой записи -->
        <!-- 
          Данный скрипт должен вернуть объект {key=value}, где key - тип хука, а value - функция
          Типы хуков:
            before - перед обходом файла
            row - каждую строку
            after - после обхода файла
          Доступные функции:
            void skipRecord() - пропустить запись
            void stopLoop() - остановить обработку
            void throwError(string message) - кинуть исключение
            void log(object data) - вывести строку через Logger.info
            void info(string message) - вывести строку с иконкой информации в GUI лога главного окна
            void warn(string message) - вывести строку с иконкой предупреждения в GUI лога главного окна
            object[] getRow() - [ТОЛЬКО ДЛЯ hook=row] получить текущую строку 
            object cell(int y, int x) - получить значение ячейки (кэшируется)
            bool set(string name, object value) - установить в переменную name значение value (если нет переменной то вернёт false)
            object get(string name) - получить значение переменной name
        -->
        <Script>
          (function(){

          var maxSum = 0;
          var maxName = "";
          var minSum = 150;
          var checkYear = 0;

          var funcBefore = function() {
          // TODO: Придумать пример
          }

          var funcRow = function() {

          var name = get("FIO");
          var sum = get("SUMMA");
          var year = get("DATEOPL").getFullYear();

          if (checkYear == 0) checkYear = year;
          if (year !== checkYear) {
          throwError("Запрещена конвертация файла с разными годами оплаты внутри!");
          return;
          }

          if (sum > maxSum) {
          maxSum = sum;
          maxName = name;
          }

          if (sum < minSum) {
                skipRecord();
              }
            }
            var funcAfter = function() {
              info("Максимальная сумма в " + maxSum + "р. у : " + maxName);
            }

            return {
              row: funcRow,
              after: funcAfter,
              before: funcBefore
            }

          })();
        </Script>
        <IF X="2" VALUE="Пропуск">
          <THEN>
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="Итого:">
          <THEN>
            <STOP_LOOP />
          </THEN>
        </IF>
        <!-- Тип по умолчанию - string -->
        <Dynamic X="2" name="ID" />
        <Dynamic X="3" name="FIO" />
        <Dynamic X="4" name="KP" />
        <Dynamic X="5" name="SUMMA" type="numeric" />
        <!-- language - необязательный тэг, по умолчанию будет задан ru-ru -->
        <!-- форматы даты: https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx -->
        <Dynamic X="6" name="DATEOPL" type="date" format="dd.MM.yyyy" language="ru-ru" lastday="false"/>
      </Fields>
      <DBF>
        <field name="ID" type="string" length="8">$ID</field>
        <field name="KP" type="string" length="8">$KP</field>
        <field name="FIO" type="string" length="60">$FIO</field>
        <field name="SUMMA" type="numeric" length="6,2">$SUMMA</field>
        <field name="DATAOPL" type="date" format="yyyy-MM-dd" length="8">$DATEOPL</field>
      </DBF>
    </Form>
    <Form>
      <Name>Форма 2.21Б</Name>
      <Rules>
        <Equal Y="2" X="2">Форма 2.21Б</Equal>
        <Equal Y="7" X="2">№</Equal>
        <Equal Y="7" X="3">ФИО</Equal>
        <Equal Y="7" X="4">Счёт</Equal>
        <Equal Y="7" X="5">Сумма</Equal>
        <Equal Y="7" X="6">Дата оплаты</Equal>
      </Rules>
      <Fields>
        <StartY>8</StartY>
        <EndX>7</EndX>
        <!-- ВНИМАНИЕ: Static внутри THEN/ELSE будет ПРОИГНОРИРОВАН! -->
        <Static X="2" Y="6" name="NACHDATE" type="date" format="dd.MM.yyyy" regex_pattern="по состоянию на (\d{2}\.\d{2}\.\d{4})" />
        <IF X="2" VALUE="">
          <THEN>
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="###">
          <THEN>
            <Dynamic X="3" name="ADDRESS"/>
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="Итого по дому:">
          <THEN>
            <!-- Сумма из отчёта -->
            <Dynamic X="5" name="XLS_SUMMA" type="numeric" />
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="Итого:">
          <THEN>
            <!-- Сумма из отчёта -->
            <Dynamic X="5" name="XLS_SUMMA" type="numeric" />
            <STOP_LOOP />
          </THEN>
        </IF>
        <!-- Тип по умолчанию - string -->
        <Dynamic X="2" name="ID" />
        <Dynamic X="3" name="FIO" />
        <Dynamic X="4" name="KP" />
        <Dynamic X="5" name="SUMMA" type="numeric" />
        <!-- Суммирование для каждой записи -->
        <Dynamic X="5" name="TOTAL_SUMMA" type="numeric" function="SUM" />
        <!-- language - необязательный тэг, по умолчанию будет задан ru-ru -->
        <!-- форматы даты: https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx -->
        <Dynamic X="6" name="DATEOPL" type="date" format="dd.MM.yyyy" language="ru-ru" lastday="false"/>
      </Fields>
      <DBF>
        <field name="ID" type="string" length="8">$ID</field>
        <field name="KP" type="string" length="8">$KP</field>
        <field name="PERSON" type="string" length="140">$FIO, проживающий(ая) по адресу $ADDRESS</field>
        <field name="SUMMA" type="numeric" length="6,2">$SUMMA</field>
        <field name="DATAOPL" type="date" format="yyyy-MM-dd" length="8">$DATEOPL</field>
        <field name="NACHDATE" type="date" format="yyyy-MM-dd" length="8">$NACHDATE</field>
      </DBF>
      <Validate>
        <!-- Сравнение суммы из отчёта и таблицы, помогает избежать расхождения при промежуточных полях -->
        <Equal var1="TOTAL_SUMMA" var2="XLS_SUMMA">
          <!-- На 10.000 записей допускается математическая погрешность в 0,5 -->
          <Math type="numeric" count="10000" precision="0,5">Допустимая погрешность = {0}, значения отличаются на {1}</Math>
          <Message>Итоговая сумма в DBF отличается от суммы в Excel!\nВ документе {0} ≠ {1} в экселе</Message>
        </Equal>
      </Validate>
    </Form>
    <Form>
      <Name>Форма с регулярными выражениями</Name>
      <Rules>
        <Equal Y="6" X="2">№</Equal>
        <Equal Y="7" X="2">лицевого</Equal>
        <Equal Y="9" X="2">счета</Equal>
        <Equal Y="6" X="3" regex_pattern="(Фамилия) \S+">Фамилия</Equal>
        <Equal Y="6" X="6">Адрес</Equal>
        <Equal Y="6" X="11">Оплачено</Equal>
        <Equal Y="4" X="4" validate="regex">с \S+ по (\d{2}\.\d{2}\.\d{4})</Equal>
      </Rules>
      <Fields>
        <StartY>10</StartY>
        <EndX>20</EndX>
        <Static Y="4" X="4" name="DATEOPL" type="date" format="dd.MM.yyyy" lastday="false" language="ru-ru" regex_pattern="с \S+ по (\d{2}\.\d{2}\.\d{4})" regex_group="1" />
        <Dynamic X="2" name="KPA" />
        <IF X="1" VALUE="Итого за период:">
          <THEN>
            <Dynamic X="11" name="XLS_SUMMA" type="numeric" />
            <STOP_LOOP />
          </THEN>
          <ELSE>
            <Dynamic X="2" name="KP" regex_pattern="\d(\d+)" />
            <Dynamic X="3" name="FIO" />
            <Dynamic X="6" name="ADRES" />
            <Dynamic X="11" name="SUMMA" type="numeric" />
            <Dynamic X="11" name="TOTAL_SUMMA" type="numeric" function="SUM" />
          </ELSE>
        </IF>
      </Fields>
      <DBF>
        <field name="KP" type="string" length="9">$KP</field>
        <field name="FIO" type="string" length="40">$FIO</field>
        <field name="ADRES" type="string" length="40">$ADRES</field>
        <field name="SUMMA" type="numeric" length="10,2">$SUMMA</field>
        <field name="DATAOPL" type="date" format="yyyy-MM-dd" length="8">$DATEOPL</field>
      </DBF>
      <Validate>
        <Equal var1="TOTAL_SUMMA" var2="XLS_SUMMA">
          <Math type="numeric" count="10000" precision="0,5">Допустимая погрешность = {0}, значения отличаются на {1}</Math>
          <Message>Итоговая сумма в DBF отличается от суммы в Excel!\nВ документе {0} ≠ {1} в экселе</Message>
        </Equal>
      </Validate>
    </Form>
    <Form>
      <!-- Форма, где неизвестна строка начала данных -->
      <Name>Форма 2.21В</Name>
      <Rules>
        <!-- Именованная группа поиска с неизвестной Y кординатой -->
        <Equal Y="2" X="2">Форма 2.21В</Equal>
        <Group Name="header">
          <!-- Значения Y в группе относительны, условия ищутся по очереди как в списке -->
          <Equal Y="0" X="1">№</Equal>
          <Equal Y="0" X="2">ФИО</Equal>
          <Equal Y="0" X="3">Счёт</Equal>
          <Equal Y="0" X="4">Сумма</Equal>
          <Equal Y="0" X="5">Дата оплаты</Equal>
        </Group>
      </Rules>
      <Fields>
        <StartY>
          <!-- Данные начинаются через 1 строку после группы с именем "header" -->
          <Group name="header" position="after" Y="1" />
        </StartY>
        <!-- Максимальное значение X, которое будет вытянуто в массив -->
        <EndX>7</EndX>
        <!-- ВНИМАНИЕ: Static внутри THEN/ELSE будет ПРОИГНОРИРОВАН! -->
        <Static X="2" Y="6" name="NACHDATE" type="date" format="dd.MM.yyyy" regex_pattern="по состоянию на (\d{2}\.\d{2}\.\d{4})" />
        <IF X="2" VALUE="">
          <THEN>
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="###">
          <THEN>
            <Dynamic X="3" name="ADDRESS"/>
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="Итого по дому:">
          <THEN>
            <!-- Сумма из отчёта -->
            <Dynamic X="5" name="XLS_SUMMA" type="numeric" />
            <SKIP_RECORD />
          </THEN>
        </IF>
        <IF X="2" VALUE="Итого:">
          <THEN>
            <!-- Сумма из отчёта -->
            <Dynamic X="5" name="XLS_SUMMA" type="numeric" />
            <STOP_LOOP />
          </THEN>
        </IF>
        <!-- Тип по умолчанию - string -->
        <Dynamic X="2" name="ID" />
        <Dynamic X="3" name="FIO" />
        <Dynamic X="4" name="KP" />
        <Dynamic X="5" name="SUMMA" type="numeric" />
        <!-- Суммирование для каждой записи -->
        <Dynamic X="5" name="TOTAL_SUMMA" type="numeric" function="SUM" />
        <!-- language - необязательный тэг, по умолчанию будет задан ru-ru -->
        <!-- форматы даты: https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx -->
        <Dynamic X="6" name="DATEOPL" type="date" format="dd.MM.yyyy" language="ru-ru" lastday="false"/>
      </Fields>
      <DBF>
        <field name="ID" type="string" length="8">$ID</field>
        <field name="KP" type="string" length="8">$KP</field>
        <field name="PERSON" type="string" length="140">$FIO, проживающий(ая) по адресу $ADDRESS</field>
        <field name="SUMMA" type="numeric" length="6,2">$SUMMA</field>
        <field name="DATAOPL" type="date" format="yyyy-MM-dd" length="8">$DATEOPL</field>
        <field name="NACHDATE" type="date" format="yyyy-MM-dd" length="8">$NACHDATE</field>
      </DBF>
    </Form>
  </Forms>
</config>